.git
.next
.vercel
node_modules
n8n_data
tmp
coverage

.env
.env.*

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

*.tsbuildinfo
tsc_output*.txt
ts-errors.txt
test-*.js
inspect-db.js
